SEAWEEDFS_TAG=latest

# S3 API Host Domain
S3_HOST=objects.example.com
# Admin Panel Host Domain
ADMIN_HOST=console.${S3_HOST}

# Use Secure Passwords here
ADMIN_USER=
ADMIN_PASS=

S3_ACCESS_KEY=
S3_SECRET_KEY=
